/* Write your CSS here */
.Miain_bg {
  padding-left: 40px;
  padding-right: 40px;
}

.heading {
  font-size: 30px;
  font-family: 'Roboto';
}

.Sub_1_contanier {
  display: flex;
  justify-content: space-between;
}
.lable {
  padding-bottom: 10px;
}
.input {
  margin-top: 15px;
  height: 28px;
  margin-bottom: 15px;
  width: 390px;
}

.textArea {
  margin-bottom: 25px;
}
.CommentCount {
  color: white;
  background-color: #0284c7;
  margin-right: 10px;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.Comments {
  font-size: 20px;
  font-weight: 500;
}
.unOrdLst {
  list-style-type: none;
  padding-left: 0px;
}
