.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.list {
  list-style-type: none;
}

.Name {
  font-size: 17px;
  font-family: 'Roboto';
  font-weight: 500;
  color: black;
}
.list {
  list-style-type: none;
  padding-left: 0px;
}
.logo {
  background-color: #b91c1c;
  height: 40px;
  width: 40px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Comment_contan {
  display: flex;
}
.nameCmmt_CNtr {
  margin-left: 10px;
}

.btn-contanier {
  display: flex;
  justify-content: space-between;
}
